<!-- Main Sidebar Container -->

<aside class="main-sidebar sidebar-dark-orange elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="assets/img/users.png" alt="Vivanza" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">SGU</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!--    <app-menu></app-menu> -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->

                <li class="nav-item">
                    <a href="users" class="nav-link">
                        <i class="fas fa-user nav-icon"></i>
                        <p>Usuarios</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="accounts" class="nav-link">
                        <i class="fas fa-file nav-icon"></i>
                        <p>Cuentas</p>
                    </a>
                </li>



                <li class="nav-item has-treeview menu-close">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Equipos
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a style="font-size: small;" class="nav-link">Gestión</a>
                        </li>
                        <li class="nav-item">
                            <a style="font-size: small;" class="nav-link">Movimientos</a>
                        </li>
                    </ul>
                </li>


            </ul>
        </nav>



        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>